.container{
    margin-top:20px;
}
.box{
    background-color:#dbdbdb;
    padding: 5px;
}
.user-list{
    background-color:whitesmoke;
}
.user{
    background-color: yellow;
}
h2{
    margin: 0;
    color: black;
}
#form{
    width: 100%;
}
label{
    width:100%;
}
input{
    width: 100%;
}
button{
    background-color: black;
    color: white;
    margin-top: 5px;
    width:100%;
}